.team {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.team_title {
  display: flex;
  justify-content: center;
  padding: 0px 0 50px 0;
  font-size: 52px;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team-desc {
  text-align: center;
  padding: 10px 0;
  transition: 0.2s ease-in-out;
}

.team-member-name {
  font-weight: bolder;
}

.team-member-position {
  min-width: 180px;
  padding: 10px 0;
}

.team-member {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}

.team-wrapper img {
  position: relative;
  max-width: 100%;
  min-height: 300px;
  object-fit: cover;
  transition: 0.2s ease-in-out;
}
.team-member-hover-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.26);
  transition: 0.2s ease-in-out;
}

.team-member:hover .team-desc {
  transform: translateY(-100px);
  z-index: 100;
  color: white;
}

.team-member:hover .team-member-hover-bg {
  height: 300px;
}

@media screen and (max-width: 992px) {

  .team-member-hover-bg {
    width: 100%;
    height: 0;
  }
  .team-member img {
    min-width: 100%;
    min-height: 240px;
    max-height: 240px;
  }
  .team-member:hover .team-member-hover-bg {
    height: 240px;
    width: 100%;
  }
  .team-wrapper {
    width: 100%;
  }
  .team-member {
    min-width: 120px;
    min-height: 100px;
  }
  .team-member:hover .team-desc {
    transform: translateY(-80px);
    z-index: 100;
    color: white;
    background: none;
  }
}
@media screen and (max-width: 1300px) {
  .team_title {
    font-size: 32px;
  }
  .team-desc {
    font-size: 14px;
  }
}

